<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>muhasebe</title>
    <!-- Google fonts -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900|Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/main_css/Styles.css">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/c536e503ae.js"></script>


</head>

<body>

        <section id="title-navbar">
                <nav class="navbar fixed-top navbar-expand-lg navbar-light ">

                    <a class="brand-a navbar-brand brand-design" href="/Home/index">muhasebe</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerr">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse " id="navbarTogglerr">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="">Özellikler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">Müşteriler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">Fiyatlar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">Blog</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="">Destek</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Uyelik/GirisYap">Giriş</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-info" href="">Ücretsiz Dene</a>
                            </li>

                        </ul>

                    </div>
                </nav>
        </section>
    @RenderBody()


        <footer id="footer">

            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fas fa-envelope"></i>
            <p class="footer-p">© Copyright 2019 Muhasebe</p>


            <!-- Footer -->
           </footer>





            <!-- Bootstrap Scripts -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>

</html>
