
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="title" alt="">
    <div class="arka-resim">

    </div>
    <div class="homepage-yazi container">
        <div class="row">
            <div class="item col-md-6">
                <h1 class="top-header">Yenilikçi işletmeler için online ön muhasebe programı!</h1>
                <p>Finansal operasyonlara daha az zaman ayırın, işinizi büyütmeye odaklanın.</p>
                <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Ücretsiz deneyin</button>
                <p style="color:red">Memnun kalırsanız abone olun.</p>
            </div>

        </div>

    </div>

</section>
<section id="sektor">
    <div class="row">

        <div class="kart-col col-lg-3 col-6 ">
            <div class="kart card">
                <div class="card-body">
                    <h5 class="card-title">Hizmet Sektörü</h5>
                    <p class="card-text">Vakit nakittir! Zamandan tasarruf edin!</p>
                    <a href="#" class="btn btn-outline-primary">Keşfet</a>
                </div>
            </div>
        </div>
        <div class="kart-col col-lg-3 col-6">
            <div class="kart card">
                <div class="card-body">
                    <h5 class="card-title">Üretim Sektörü</h5>
                    <p class="card-text">Operasyonel verimliliğinizi artırın!</p>
                    <br>
                    <a href="#" class="btn btn-outline-primary">Keşfet</a>
                </div>
            </div>
        </div>
        <div class="kart-col col-lg-3 col-6">
            <div class="kart card">
                <div class="card-body">
                    <h5 class="card-title">Toptan ve perakende</h5>
                    <p class="card-text">Müşterilerinize ve Satışa odaklanın!</p>
                    <a href="#" class="btn btn-outline-primary">Keşfet</a>
                </div>
            </div>
        </div>
        <div class="kart-col col-lg-3 col-6">
            <div class="kart card">
                <div class="card-body">
                    <h5 class="card-title">Tüm Sektörler</h5>
                    <p class="card-text">Geleceği görerek işinizi büyütün!</p>
                    <a href="#" class="btn btn-outline-primary">Keşfet</a>
                </div>
            </div>
        </div>

    </div>

</section>
<section id="fatura">
    <a href="#">
        <div class="fatura-link">
            <h3>Nakit akışınızı iyileştirin.</h3>
            <div class="row">

                <div class="kart-col col-lg-3 col-md-6">
                    <div class="kart card text-white bg-primary" style="max-width: 18rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h5 class="card-title">Primary card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="kart-col col-lg-3 col-md-6">
                    <div class="kart card border-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body text-info">
                            <h5 class="card-title">Info card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="kart-col col-lg-3 col-md-6">
                    <div class="kart card border-secondary" style="max-width: 18rem;">
                        <div class="card-header text-dark">Header</div>
                        <div class="card-body text-dark">
                            <h5 class="card-title">Primary card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="kart-col col-lg-3 col-md-6">
                    <div class="kart card" style="max-width: 18rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h5 class="card-title">Primary card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </a>
</section>