
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p> @ViewBag.Kullanici.Adi @ViewBag.Kullanici.Soyadi</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a href="pages/widgets.html">
                    <i class="fa fa-th"></i> <span>GÜNCEL DURUM</span>
                </a>
            </li>
            <li class="treeview ">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>SATIŞLAR</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Teklifler</a></li>
                    <li><a href="index2.html"><i class="fa fa-circle-o"></i> Faturalar</a></li>
                    <li><a href="/Panel/Musteriler"><i class="fa fa-circle-o"></i> Müşteriler</a></li>
                    <li><a href="index2.html"><i class="fa fa-circle-o"></i> Satışlar Raporu</a></li>
                    <li><a href="index2.html"><i class="fa fa-circle-o"></i> Tahsilatlar Raporu</a></li>
                    <li><a href="index2.html"><i class="fa fa-circle-o"></i> Gelir Gider Raporu</a></li>
                </ul>
            </li>
            
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>GİDERLER</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> Gider Listesi</a></li>
                    <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Tedarikçiler</a></li>
                    <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Çalışanlar</a></li>
                    <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Giderler Raporu</a></li>
                    <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Ödemeler Raporu</a></li>
                    <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> KDV Raporu</a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>NAKİT</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> Kasa ve Bankalar</a></li>
                    <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Çekler</a></li>
                    <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Kasa/Banka Raporu</a></li>
                    <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Nakit Akışı Raporu</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>STOK</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> Hizmet ve Ürünler</a></li>
                    <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> İrsaliyeler</a></li>
                    <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Fiyat Listeleri</a></li>
                    <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Stok Geçmişi</a></li>
                    <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Stoktaki Ürünler Raporu</a></li>
                </ul>
            </li>
            <li class="header">ALT NAVIGATION</li>
            <li>
                <a href="pages/calendar.html">
                    <i class="fa fa-calendar"></i> <span>UYGULAMALAR</span>
                </a>
            </li>
            <li>
                <a href="pages/mailbox/mailbox.html">
                    <i class="fa fa-envelope"></i> <span>PAZARYERİ</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>AYARLAR</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> Firma Bilgileri</a></li>
                    <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Kategori ve Etiketler</a></li>
                    <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Kullanıcılar</a></li>
                    <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Yazdırma Şablonları</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>