
@{
    ViewBag.Title = "GirisYap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="r-body">
    <h2>GirisYap</h2>
    @if (ViewBag.Kullanici != null)
    {
        <p> @ViewBag.Kullanici.KullaniciAdi Hoşgeldiniz</p>
    }
    else
    {
    <p>Giriş yapılmadı.</p>
    }
    @using (Html.BeginForm())
    {
        <table align="center">
            <tr>
                <td colspan="2">
                    @ViewBag.Mesaj
                </td>
            </tr>
            <tr>
                <td>Kullanıcı Adı</td>
                <td><input class="form-control" type="text" name="KullaniciAdi" value="" required /></td>
            </tr>
            <tr>
                <td>Parola</td>
                <td><input class="form-control" type="password" name="Parola" value="" required /></td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input class="form-control" type="submit" name="btnKayit01" value="Giriş Yap" />
                </td>
            </tr>

        </table>
    }    
    @if (ViewBag.Kullanici != null)
    {
        <a class="btn btn-bitbucket" href="/Uyelik/Cikis" title="Cikis" itemprop="name">Çıkış Yap</a>
    }
    else {
        <a class="btn btn-bitbucket" href="/Uyelik/KayitOl" title="KayitOl" itemprop="name">Kayıt Ol</a>
    }
</div>
