body{
    padding:0;
}

.p-box{
    padding-top:1%;
    margin:0 2% 0;
}
.hehe{
    margin-left:5%;
    width:50%;
}

.currencyinput {
    border: 1px inset #ccc;
    padding:3px;
}

    .currencyinput input {
        border: 0;
    }
.currency-dropdown{
    border:0;
}